<!DOCTYPE html>
<html lang="en">
<head>
      
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->

<link rel="stylesheet" href="style.css">
<title>Vue Currency Converter</title>
</head>
<body>
    <div class="container" id ='app'>

        <h3 class="container text-center"> Vue Currency Converter</h3>


<div class="container">
<div class="row">
    <div class=" col-sm form-group">
        <label for="exampleFormControlSelect1">From: </label>
        <select v-model='from' class="form-control" id="exampleFormControlSelect1">
        <option :value ='currency.id' v-for ='currency in formattedCurrencies'>
            {{ currency.currencyName}}
        </option>
        
        </select>
    </div>
    <div class=" col-sm form-group">
        <label for="exampleFormControlSelect1">To: </label>
        <select v-model='to' class="form-control" id="exampleFormControlSelect1">
        <option :value ='currency.id' v-for ='currency in formattedCurrencies'> {{ currency.currencyName}} </option>
       
        </select>
    </div>


</div>
    

<div class="row">
        <div class=" col-sm form-group">
                <label for="exampleFormControlSelect1">Amount: </label>
                <input v-model='amount' class="form-control" id="exampleFormControlSelect1">
            
            </div>
    <button @click ='convertCurrency()' class="align-self-center btn btn-primary"> Convert</button> 
    </div>
        
</div>
                

                <h2 class="text-center text-muted"> Result {{ calculateResult }} </h2>
</div>      
<script src="./src/vue.js"></script>
<script src="./src/axios.js"></script>
<script src="app.js"></script>
</body>
</html>